*
!README.md
!dockerfile
!build.sh
!stack.yaml
!Main.hs
!Interpreter.hs
!exercise.lc

!LambdaNat0
!LambdaNat1
!LambdaNat2
!LambdaNat3
!LambdaNat4
!LambdaNat5

!LambdaNat0.cf
!LambdaNat1.cf
!LambdaNat2.cf
!LambdaNat3.cf
!LambdaNat4.cf
!LambdaNat5.cf